@model IEnumerable<SuperheroCreator.Models.Superhero>

@{
    ViewData["Title"] = "Superheros";
}

<h1>Superheros</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlterEgoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimarySuperpower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondarySuperpower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatchPhrase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlterEgoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimarySuperpower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondarySuperpower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatchPhrase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SuperheroId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SuperheroId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SuperheroId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
